@media screen and (max-width: 1200px) {

    .row {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {

    .page-content .row {
        width: 100%;
    }

    .ft-left img {
        min-width: 37px;
        min-height: 37px;
    }

    .volume .progressbar-bg {
        width: 80px;
    }

}

@media screen and (max-width: 600px) {
  
    .sidebar {
        max-width: 50px;
    }

    .page-content {
        width: calc(100vw - 50px);
    }

    footer {
        width: 100%;
    }

    .ft-left, .ft-right {
        min-width: 100px;
    }

    /* DISPLAY NONE */

    .d-none {
        display: none;
    }

}