@media screen and (max-width: 880px) {

    .row {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    
    .row {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
  
    .sidebar {
        max-width: 50px;
    }

    .logo img {
        display: none;
    }

    .page-content {
        width: calc(100vw - 50px);
    }
}