* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #7A7A7A;
    background-color: #141922;
    font-weight: 600;
}

a.btn {
    text-decoration: none;
    color: white;
}

h2, h3 {
    color: white;
}

/* UTILITIES */

.d-flex {
    display: flex;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.justify-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}


/* HEADER */

header {
    left: 0;
    top: 0;
    z-index: 997;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 90px;
}

header .btn {
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 28px;
}

/* MAIN */

/* SIDEBAR */

.sidebar {
    flex-basis: 230px;
    height: calc(100vh - 90px);
    width: 230px;
    padding-top: 20px;
    background-color: black;
    z-index: 998;
}

.sidebar a {
    text-decoration: none;
    color: #7A7A7A;
}

.menu-top ul {
    list-style: none;
}

.menu-top ul li {
    margin: 0.8rem 0;
}

.menu-top li svg {
    width:1.5rem;
    vertical-align: middle;
    margin-right: 0.3rem;
    color: #7A7A7A;
}

.container-side {
    padding-left: 20px;
}

.sidebar .logo {
    margin-bottom: 1.5rem;
}

.sidebar .logo img {
    height: 40px;
}

/* CONTENT */

.page-content {
    overflow-y: auto;
    height: calc(100vh - 90px);
    width: calc(100vw - 230px);
    padding: 90px 20px 0px 20px;
}

.menu {
    width: 100%;
    margin: 1rem 0;
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 0 0.7rem;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 600;
}

/* MUSIC */

.recently-played {
    margin: 2rem 0;
}

.recently-played h2, .created-for h2 {
    font-size: 1.5rem;
}

.col img {
    width: 100%;
}

.row {
    width: calc(100% / 3);
    margin: 2rem 0;
}

.col {
    text-align: center;
    width: calc(50% - 20px);
    margin-right: 20px;
}

.col h3 {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

h2 + h5 {
    padding-top: 0.7rem;
}

img.round {
    border-radius: 50%;
}

/* FOOTER */

footer {
    z-index: 999;
    height: 90px;
    width: 100%;
    background-color: #282828;
    bottom: 0;
    left: 0;
}